.App {
  text-align: center;
  align-items: center;
  min-height: 150vmin;
  background-color: white;
}


.food-search-form {
  align-items: center;
  display: flex;
  min-height: 15vmin;
  justify-content: center;
}

.food-search-input {
  align-items: center;
  width: 40%;
  padding: 15px;
  border: none;
}

.food-search-button {
  border: none;
  padding: 15px;
}

